.uk-accordion-title {
  font-family: "Open Sans", Arial;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 15px;
  background: transparent;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  color: $color-dark-primary;
  border-top: 1px solid #cccccc;
  font-weight: 700;
}


/* Sub-object: `uk-accordion-content`
 ========================================================================== */

.uk-accordion-title:nth-child(1), .uk-accordion-content:nth-child(1){
  border-top: none;
  border-bottom: none;
}


.uk-accordion-content {
  padding: 0 15px 15px 15px;
  border-bottom: 1px solid #cccccc;
}
/*
 * Micro clearfix to make panels more robust
 */
.uk-accordion-content:before,
.uk-accordion-content:after {
  content: "";
  display: table;
}
.uk-accordion-content:after {
  clear: both;
}
/*
 * Remove margin from the last-child
 */
.uk-accordion-content > :last-child {
  margin-bottom: 0;
}
