/*   backgrounds   */

.background-dark-primary{
	background: $color-dark-primary;
}

.background-light-primary{
	background: $color-light-primary;
}

.background-light-secondary{
	background: $color-light-secondary;
}

.background-white{
	background: #ffffff;
}

