/*   
	buttons   
	$background-color, $border-color, $text-color, $background-color-hover, $text-color-hover

*/

.button-primary-solid{
	@include button($color-primary, $color-primary, $color-white, $color-primary, $color-white);
}

.button-primary-outline{
	@include button(none, $color-primary, $color-dark-primary, $color-primary, $color-white);
}

.mobile-button-primary-solid{
	@include button($color-primary, $color-primary, $color-white, $color-primary, $color-white);
	margin-top: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    border-radius: 0;
    z-index: 1;
    border: none;
}

.button-primary-solid-disabled{
	@include button($color-primary, $color-primary, $color-white, $color-primary, $color-white);
	background: #a7c8da;
	border: 1px solid #a7c8da;
	cursor: default;
	&:hover{
		background: #a7c8da;
	}
}

.button-primary-solid:disabled{
	@include button($color-primary, $color-primary, $color-white, $color-primary, $color-white);
	background: #a7c8da;
	border: none;
	cursor: default;
	&:hover{
		background: #a7c8da;
	}
}

.mobile-button-primary-solid-disabled{
	@include button($color-primary, $color-primary, $color-white, $color-primary, $color-white);
	background: #a7c8da;
	margin-top: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    border-radius: 0;
    z-index: 1;
    border: none;
	border: none;
	cursor: default;
	&:hover{
		background: #a7c8da;
	}
}

.button-secondary-solid, .pagination-active{
	@include button($color-secondary, $color-secondary, $color-white, $color-secondary, $color-white);
	
}

.button-secondary-outline, .pagination{
	@include button(none, $color-secondary, $color-dark-primary, $color-secondary, $color-white);
}

.pagination-active, .pagination{
	padding: 8px 10px;
}

.button-secondary-solid-disabled{
	@include button($color-secondary, $color-secondary, $color-white, $color-secondary, $color-white);
	@include transition(0.25s);
	background: #eda490;
	border: 1px solid #eda490;
	cursor: auto;
	&:hover{
		background: #eda490;
	}
}



.button-tertiary-solid{
	@include button($color-tertiary, $color-tertiary, $color-white, $color-tertiary, $color-white);
}

.button-tertiary-solid-disabled{
	@include button($color-tertiary, $color-tertiary, $color-white, $color-tertiary, $color-white);
	@include transition(0.25s);
	background: #bce0c0;
	border: 1px solid #bce0c0;
	cursor: auto;
	&:hover{
		background: #bce0c0;
	}
}

.mobile-button-tertiary-solid{
	@include button($color-tertiary, $color-tertiary, $color-white, $color-tertiary, $color-white);
	margin-top: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    border-radius: 0;
}

.button-light-solid{
	@include button($color-white, $color-white, $color-dark-primary, $color-white, $color-dark-primary);
}

.button-light-outline{
	@include button($color-white, $color-white, $color-white, $color-white, $color-dark-primary);

	background: none;
}

.button-light-outline:hover{
	background: $color-white;
	color: $color-dark-primary;
}

.button-dark-outline{
	@include button($color-dark-primary, #999999, $color-dark-primary, $color-dark-primary, $color-dark-primary);

	background: none;
}

.button-dark-outline:hover{
	background: none;
	color: $color-dark-primary;
	border: 1px solid $color-dark-primary;
}


.button-facebook{
	color: #355388;
}

.button-twitter{
	color: #00ABF1;
}

.button-instagram{
	color: #E54A67;
}


.button-pinterest{
	color: #C23439;
}

.button-cursor{
	cursor: pointer;
}

a.disabled, button.disabled {
  pointer-events: none;
  cursor: default;
}

