@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?23445707');
  src: url('../font/fontello.eot?23445707#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?23445707') format('woff2'),
       url('../font/fontello.woff?23445707') format('woff'),
       url('../font/fontello.ttf?23445707') format('truetype'),
       url('../font/fontello.svg?23445707#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?365606#fontello') format('svg');
  }
}
*/

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-pinterest:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */

.icon-print:before { content: '\e809'; } /* '' */
.icon-instagram:before { content: '\e80a'; } /* '' */

.icon-credit-card:before { content: '\e80c'; } /* '' */
.icon-list:before { content: '\e80d'; } /* '' */
.icon-help:before { content: '\e80e'; } /* '' */
.icon-lock:before { content: '\e80f'; } /* '' */
.icon-play:before { content: '\e810'; } /* '' */
.icon-circle:before { content: '\e811'; } /* '' */
.icon-right-open-mini:before { content: '\e812'; } /* '' */
.icon-up-open-mini:before { content: '\e813'; } /* '' */
.icon-down-open-mini:before { content: '\e814'; } /* '' */
.icon-user-outline:before { content: '\e815'; } /* '' */

.icon-left-open-mini:before { content: '\e812'; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";}

.icon-heart-outline-light:before { content: '\e808';} /* 'î ‹' */
.icon-heart-outline:before { content: '\e808'; color: $color-warning;  } /* 'î ˆ' */
.icon-heart-solid:before { content: '\e80b'; color: $color-warning; } /* 'î ‹' */


.icon-badge, .icon-dollar, .icon-lock-small{
  background: url(https://akagu-static.s3.amazonaws.com/assets/images/icons-value-propositions.png) no-repeat;
}


.icon-badge{
  background-position: 8px;
  width: 40px;
  height: 38px;
}

.icon-dollar{
    background-position: -26px 5px;
    width: 30px;
    height: 35px;
}

.icon-lock-small{
  background-position: -53px 6px;
  width: 35px;
  height: 35px;
}


.icon-credit-cards, .icon-lock-large, .icon-return-large, .icon-subscribe, .icon-support-large, .icon-price-drop, .icon-trophy, .icon-security-1, .icon-security-2, .icon-delivery-small, .icon-return-small, .icon-support-small, .icon-credit-card-visa, .icon-credit-card-master, .icon-credit-card-amex, .icon-credit-card-discover{
  background: url(https://akagu-static.s3.amazonaws.com/assets/images/sprites.png) no-repeat;
}

.icon-credit-cards{
  background-position: -6px -209px ;
  width: 144px;
  height: 22px;
}

.icon-credit-card-visa{
  background-position: -6px -209px ;
  width: 36px;
  height: 22px;
}

.icon-credit-card-master{
  background-position: -42px -209px;
  width: 36px;
  height: 22px;
}

.icon-credit-card-amex{
  background-position: -78px -209px;
  width: 36px;
  height: 22px;
}

.icon-credit-card-discover{
  background-position: -114px -209px ;
  width: 36px;
  height: 22px;
}

.icon-lock-large{
  background-position: 0 -40px ;
  width: 43px;
  height: 43px;
}

.icon-return-large{
  background-position: -50px -39px ;
  width: 43px;
  height: 43px;
}

.icon-subscribe{
  background-position: 0 -92px ;
  width: 60px;
  height: 63px;
}

.icon-support-large{
  background-position: -99px -39px ;
  width: 43px;
  height: 43px;
}

.icon-price-drop{
  background-position: -70px -93px ;
  width: 60px;
  height: 63px;
}

.icon-trophy{
  background-position: -138px -95px ;
  width: 60px;
  height: 63px;
}

.icon-security-1{
  background-position: -4px -163px ;
  width: 69px;
  height: 37px;
}

.icon-security-2{
  background-position: -79px -163px ;
  width: 131px;
  height: 37px;
}

.icon-delivery-small{
  background-position: -10px -7px ;
  width: 31px;
  height: 23px;
}

.icon-return-small{
  background-position: -58px -5px ;
  width: 32px;
  height: 25px;
}

.icon-support-small{
  background-position: -103px -6px ;
  width: 30px;
  height: 25px;
}



/*  Mobile Fixes */

@media (max-width: 480px){

    .uk-icon-small{
      font-size: 20px;
    }

}


