/*   forms   */

input[type="text"].uk-form-row, input[type="password"].uk-form-row, input[type="number"].uk-form-row{
	margin-top: 15px;
    height: 45px;
    padding: 0 20px;
    @include border-rounded(3px);
    &:hover{
    	border: 1px solid $color-dark-secondary;
    }
    &:focus{
    	background: #ffffff;
    	border: 1px solid $color-dark-primary;
    }
}

.uk-form select{
	margin-top: 15px;
    height: 45px;
    padding: 0 20px;
    @include border-rounded(3px);
    &:focus{
        background: #ffffff;
        border: 1px solid $color-dark-primary;
    }
}

.uk-form .checkbox, .uk-form button{
	margin-top: 20px;
}

label.cursor{
    cursor: pointer;
}

.filter-checkbox-image{
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: $color-white
}