
.grid-image-wrapper{
    overflow: hidden;
    position: relative;
}

.image-caption{
	position: relative;
}

.grid-image{
    width: auto;
    height: 100%;
    max-width: inherit;
    position: relative;
    overflow: hidden;
}

.figure-caption{
	position: absolute;
    width: 300px;
    padding: 10px 0px 10px 10px;
    bottom: 20px;
    left: 20px;
}

.figure-timer{
	position: absolute;
    padding: 5px 0;
    bottom: 80px;
    left: 10px;
    text-align: center;
    width: 75%;
}

/*  Mobile Fixes */

@media (max-width: 480px){

    .figure-timer {
        bottom: 75px;
        left: 5px;
        width: 95%;
    }

    .figure-caption {
        width: auto;
        padding: 0;
        bottom: 7px;
        left: 7px;
    }

}