/*   links   */

a.link-light-primary{
	font-size: $font-text;
	color: $color-white;
	text-decoration: none;
	padding: 23px 20px 21px 20px;
	font-weight: 700;
	&:hover{
		@include transition(0.25s);
		background: #fff;
		color: $color-dark-primary;
	}
}

a.link-light-primary-active{
	font-size: $font-text;
	text-decoration: none;
	padding: 23px 20px 21px 20px;
	font-weight: 700;
	@include transition(0.25s);
	background: #fff;
	color: $color-dark-primary;
}


a.link-light-primary-icon{
	font-size: $font-text;
	color: $color-white;
	text-decoration: none;
	padding: 23px 10px 21px 10px;
	font-weight: 700;
	&:hover{
		@include transition(0.25s);
		background: #fff;
		color: $color-dark-primary;
	}
}

a.link-light-primary-icon-active{
	font-size: $font-text;
	text-decoration: none;
	padding: 23px 10px 21px 10px;
	font-weight: 700;
	@include transition(0.25s);
	background: #fff;
	color: $color-dark-primary;
}

a.link-light{
	font-size: $font-text;
	color: $color-white;
	padding: 5px 12px 0 0;
	display: inline-block;
	&:hover{
		font-weight: normal;
		text-decoration: underline;
	}
}


a.link-muted{
	text-decoration: none;
}

a.link-dark, a.link-dark-muted{
	color: $color-dark-primary;
	text-decoration: none;
}

a.link-dark-muted:hover{
	text-decoration: none;
}

a.link-dark-secondary, a.link-dark-muted{
	color: $color-dark-secondary;
}

a.link-secondary{
	color: $color-secondary;
}


a.image:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* IE 5-7 */
    filter: alpha(opacity=80);

    /* Netscape */
    -moz-opacity: 0.8;

    /* Safari 1.x */
    -khtml-opacity: 0.8;

    /* Good browsers */
    opacity: 0.8;
}

.image-selected{
	border: 1px solid $color-secondary;
}



/*  Mobile Fixes */

@media (max-width: 480px){


	a.link-light-primary-icon{
		font-size: $font-text;
		color: $color-white;
		text-decoration: none;
		padding: 23px 5px 17px 3px;
		font-weight: 700;
		&:hover{
			@include transition(0.25s);
			background: #fff;
			color: $color-dark-primary;
		}
	}

	a.link-light-primary-icon-active{
		font-size: $font-text;
		text-decoration: none;
		padding: 23px 5px 17px 3px;
		font-weight: 700;
		@include transition(0.25s);
		background: #fff;
		color: $color-dark-primary;
	}
}
