/*    Miscellaneous   */

header{
    position: relative;
    z-index: 5;
}

.logo{
	margin-right: $spacing-medium;
}

.section-xlarge{
    padding: $spacing-xlarge 0;
}

.section-large{
	padding: $spacing-large 0;
}

.section-medium{
	padding: $spacing-medium 0;
}

.section-small{
	padding: $spacing-small 0;
}

.max-width{
	max-width: 1280px !important;
}

.section-border{
    border: 1px solid #e1e1e1;
    padding: 0 30px;
}

.border-radius{
    @include border-rounded(3px);
}

#brands, #search{
    position: absolute;
    background: white;
    z-index: 2;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 6px 12px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 6px 12px 0px rgba(50, 50, 50, 0.3);
    width: 100%;
}

.timer dt{
	font-size: 24px;
    color: #444444;
    margin: 3px 8px;
}

.timer-support-text, .timer-support-warning{
    font-size: 14px;
    color: #666666;
    font-weight: 700;
}

.timer-support-warning{
    color: $color-warning;
}

.timer-large dt {
    font-size: 34px;
    color: $color-dark-primary;
    margin: 10px 8px;
    font-weight: 700;
}

.timer-large dd{
    font-family: "Open Sans", arial;
    color: #444444;
    font-size: 15px;
    padding: 0 10px;
    font-weight: 700;
}

.strip-promo{
	position: absolute;
    top: 15px;
    left: -10px;
    background: url("../images/sprites.png") no-repeat;
    background-position: -162px -46px;
    width: 67px;
    height: 34px;
}

.flip-horizontal{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.opacity-light{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

    /* IE 5-7 */
    filter: alpha(opacity=40);

    /* Netscape */
    -moz-opacity: 0.4;

    /* Safari 1.x */
    -khtml-opacity: 0.4;

    /* Good browsers */
    opacity: 0.4;

    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

    @include transition(0.25s);
}

.opacity-dark{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    /* IE 5-7 */
    filter: alpha(opacity=100);

    /* Netscape */
    -moz-opacity: 1;

    /* Safari 1.x */
    -khtml-opacity: 1;

    /* Good browsers */
    opacity: 1;

    @include transition(0.25s);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.15);
}


.hint{
    position: absolute;
    margin-top: 25px;
    right: 10px;
}

.uk-form select.error-border{
    border: 1px solid red;
}


.uk-tab-fix{
    border-bottom: none;
    padding: 0 0 6px 0;
}

.uk-grid-fix{
    margin-left: 0px !important;
}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #ffffff;
    background-image: none;
    color: rgb(0, 0, 0);
}


.loading-countdown{
    margin-top: 30px;
    z-index: 1;
    position: absolute;
}




@media (min-width: 1281px){
    .footer-sticky{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
}



/*  Mobile*/

@media (max-width: 480px){

    .logo{
        margin-right: 0;
        width: 100px;
    }

    .logo-slim{
        margin: 0 auto;
    }

    .timer dt {
        font-size: 20px;
        margin: 3px 7.5px;
    }


    .timer-support-text, .timer-support-warning{
        font-size: 12px;
    }

    .timer-large dt {
        font-size: 28px;
        margin: 1px 4px 3px 4px;
    }

    .timer-large dd {
        font-size: 12px;
        padding: 0 4px;
        font-weight: normal;
    }

    .text-product-price-large {
        font-size: 28px;
        margin: 7px 8px;

        font-family: "Open Sans", arial;
        color: #1d202d;
    }

}

@media (min-width: 240px) and (max-width: 370px){
    .timer dt{
        margin: 3px 4.5px;
    }
}


@media (min-width: 376px) and (max-width: 480px){
    .timer dt{
        margin: 3px 7.5px;
    }
}

