/*   mixins   */

@mixin border-rounded($size){
	-moz-border-radius: $size;
	-webkit-border-radius: $size;
	border-radius: $size; 
	-khtml-border-radius: $size; 
}

@mixin transition($time){
	-webkit-transition: $time;
    -moz-transition: $time;
    -o-transition: $time;
    transition: $time;
}

@mixin button($background-color, $border-color, $text-color, $background-color-hover, $text-color-hover){
	
	@include border-rounded(3px);
	@include transition(0.25s);
	cursor: pointer;

	background: $background-color;
	color: $text-color;
	border: 1px solid $border-color;
	padding: 6px 20px;
	font-weight: 700;
	&:hover{
		background: $background-color-hover;
		color: $text-color-hover;
		opacity: 0.95;
	}
}

@mixin inner-shadow(){
	box-shadow: inset 1px 0px 30px -7px #ABABAB;
	-webkit-box-shadow: inset 1px 0px 30px -7px #ABABAB;
	-moz-box-shadow: inset 1px 0px 30px -7px #ABABAB;
	-o-box-shadow: inset 1px 0px 30px -7px #ABABAB;
}

@mixin opacity($opacity){

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";

    /* IE 5-7 */
    filter: alpha(opacity=$opacity);

    /* Netscape */
    -moz-opacity: $opacity/100;

    /* Safari 1.x */
    -khtml-opacity: $opacity/100;

    /* Good browsers */
    opacity: $opacity/100;

    @include transition(0.25s);

}


.transition{
	@include transition(0.25s);
}