/*  Mobile Fixes */

@media (max-width: 600px){


	.logo{
		margin: 0;
	}

	.uk-icon-small{
	    font-size: 120%;
	    vertical-align: -10%;
    }

	.mobile-uk-grid-fix{
		margin-left: 0px !important;
	}

	.mobile-padding-remove{
		padding: 0px !important;
	}

	.mobile-margin-remove{
		margin: 0 !important;
	}

	.mobile-block{
		display: block;
		width: 93%;
		margin: 0 auto;
	}

	.section-border{
		border: 0px;
    	padding: 0px;
	}

	.mobile-remove-background{
		background: transparent;
	}

	.mobile-section-large, mobile-section-xlarge{
		padding: 15px 0;
	}

	.mobile-margin-small-top{
		margin-top: 8px !important;
	}

	.mobile-margin-small-bottom{
		margin-top: 8px !important;
	}

	.mobile-margin-small-left{
		margin-left: 8px !important;
	}

	.mobile-margin-small-right{
		margin-right: 8px !important;
	}

	.mobile-shop-navigation-separator{
		border-bottom: 1px solid #c1c1c1;
	    padding-bottom: 5px;
	    background: $color-white;
	}


}