	#mobile-nav .nav-top-bar{
		-webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: .5s ease-in-out;
	    -moz-transition: .5s ease-in-out;
	    -o-transition: .5s ease-in-out;
	    transition: .5s ease-in-out;
	    cursor: pointer;
	}

	.mobile-nav{
  		padding: 10px 0;
    	font-weight: 700;
	}

	.nav-top-bar{
		display: block;
		width: 20px;
		border-bottom: 2px solid #333333;
		margin-bottom: 6px;
	}

	span.nav-top-bar:nth-child(1) {
	  -webkit-transform-origin: left center;
	  -moz-transform-origin: left center;
	  -o-transform-origin: left center;
	  transform-origin: left center;
	}

	span.nav-top-bar:nth-child(2) {
	  -webkit-transform-origin: left center;
	  -moz-transform-origin: left center;
	  -o-transform-origin: left center;
	  transform-origin: left center;
	}

	span.nav-top-bar:nth-child(3) {
	  -webkit-transform-origin: left center;
	  -moz-transform-origin: left center;
	  -o-transform-origin: left center;
	  transform-origin: left center;
	}

	#mobile-nav.open span.nav-top-bar:nth-child(1) {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	#mobile-nav.open span.nav-top-bar:nth-child(2) {
		width: 0%;
	  	opacity: 0;
	}

	#mobile-nav.open span.nav-top-bar:nth-child(3) {
		top: -2px;
		position: relative;
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}