.wrapper-search-results a.result{
	display: block;
	padding: 10px 0 10px 10px;
	color: $color-dark-secondary;
	text-decoration: none;
	@include border-rounded(3px);
	&:hover{
		background: #f5f5f5;
	}
}

ul{
	padding-left: 0;
	width: auto;
}

li.ui-menu-item{
	display: block;
	padding: 7px;
	color: $color-dark-secondary;
	text-decoration: none;
	@include border-rounded(3px);
	z-index: 2;
	cursor: pointer;
}

li.ui-state-focus{
	background: #f5f5f5;
	width: auto;
}