/*   text   */

.text-section-title{
	font-family: "Open Sans", arial;
	color: $color-dark-primary;
	font-size: $font-primary-title;
	font-weight: 700;
}

.text-caption, .text-product-price{
	font-family: "Open Sans", arial;
	color: $color-dark-primary;
	font-size: $font-secondary-title;
	font-weight: 700;
	margin: 5px 0;
}

.text-caption, .text-subcaption{
	margin: 4px 8px;
}

.text-column-title, .text-product-name, a.text-product-name{
	font-family: "Open Sans", arial;
	color: $color-dark-primary;
	font-size: $font-tertiary-title;
	font-weight: 700;
	text-decoration: none;
}

.text-subcaption{
	font-family: "Open Sans", arial;
	color: $color-dark-secondary;
	font-size: $font-text;
}

a.text-product-brand{
	font-family: "Open Sans", arial;
	color: #666666;
	font-size: $font-text;
	text-decoration: none;
}

.text-support, .text-support-strong{
	font-family: "Open Sans", arial;
	color: $color-dark-secondary;
	font-size: $font-small;
}

.text-support-strong{
	font-weight: 700;
}

.text-promo{
	font-family: "Open Sans", arial;
	color: $color-white;
	font-size: $font-small;
	font-weight: 700;
	margin: 5px 0 0 10px;
}

.text-testimonial{
	font-family: "Lora", Georgia;
    font-style: italic;
    color: #1d202d;
    font-size: 16px;
    line-height: 22px;
}

.text-summary{
	font-family: "Open Sans", Arial;
	color: $color-white;
	margin: 4px 0;
}


.text-light{
	color: $color-white;
}

.text-secondary{
	color: $color-secondary;
}

.text-strike-through{
	text-decoration: line-through;
}

.error, .warning{
	color: red;
	margin-top: 3px;
	text-align: left;
	margin-left: 20px;
	font-size: 12px;
}

.warning{
	margin: 0;
}

.success{
	color: green;
	margin-top: 3px;
	text-align: left;
	margin-left: 20px;
	font-size: 13px;
}

.text-product-price-large{
	font-family: "Open Sans", arial;
	color: $color-dark-primary;
	font-size: 34px;
	font-weight: 700;
	margin: 10px 8px;

}

.text-product-name-large, a.text-product-name-large{
	font-family: "Open Sans", arial;
	color: $color-dark-primary;
	font-size: $font-primary-title;
	font-weight: 700;
	text-decoration: none;
}


.text-vertical-align{
	margin-top: 8px;
}


@media (max-width: 480px){

	.text-section-title{
		font-size: 20px;
	}

	.text-product-price-large {
		font-size: 28px;
		margin: 1px 3px 3px 5px;
    }

    .text-small-mobile{
    	font-size: 13px; 
    }

	.text-caption, .text-product-price{
	    font-size: 15px;
	    font-weight: 700;
	}

}

