/* jQuery Countdown styles 2.0.0. 
.is-countdown {
	border: 1px solid #ccc;
	background-color: #eee;
}*/
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}

.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 1px;
	text-align: center;
}

.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}

.countdown-section{
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
	margin-top: 10px;
}

#wrapper-event-timer-caption{    
    position: absolute;
    padding: 0px 10px;
    bottom: 135px;
    left: 10px;
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    background: #fff;
}


#wrapper-event-timer .countdown-row{
	padding: 0;
}

#wrapper-event-timer .countdown-amount{
	font-size: 24px;
    color: #444444;
    margin: 3px 8px;
    font-weight: bold;
}

#wrapper-event-timer .countdown-period{
	font-family: "Open Sans", arial;
    color: #444444;
    font-size: 12px;
}

#wrapper-event-timer .countdown-section{
	margin-top: 3px;
}



/* This is the countdown timer itself */
.countdown-amount {
    font-size: 34px;
    color: #1d202d;
    margin: 10px 8px;
    font-weight: 700;
}

/* This is the text underneath the countdown timer like days, hours, mins, secs */
.countdown-period {
    display: block;
    text-transform: uppercase;
    margin-top: 0px;
    font-family: "Open Sans", arial;
    color: #444444;
    font-size: 15px;
    padding: 0 10px;
    /*font-weight: 700;*/
}

.countdown-descr {
	display: block;
	width: 100%;
}



#wrapper-timer .countdown-amount{
	font-size: 24px;
    color: #444444;
    margin: 3px 8px;
}

#wrapper-timer .countdown-period{
	font-family: "Open Sans", arial;
    color: #444444;
    font-size: 12px;
}


/*  Mobile*/

@media (max-width: 480px){

	.countdown-section {
		display: block;
		float: left;
		font-size: 75%;
		text-align: center;
		margin-top: 2px;
	}


	/* This is the countdown timer itself */
	.countdown-amount {
	    font-size: 28px;
    	margin: 1px 4px -3px 4px;
	}

	/* This is the text underneath the countdown timer like days, hours, mins, secs */
	.countdown-period {
	    font-size: 12px;
    	padding: 0 4px;
    	font-weight: normal;
    	margin-top: -4px;
	}



	#wrapper-event-timer .countdown-row{
		padding: 0;
	}

	#wrapper-event-timer .countdown-amount{
		font-size: 24px;
	    color: #444444;
	    margin: 3px 8px;
	    font-weight: bold;
	}

	#wrapper-event-timer .countdown-period{
		font-family: "Open Sans", arial;
	    color: #444444;
	    font-size: 12px;
	}

	#wrapper-event-timer .countdown-section{
		margin-top: 3px;
	}

	#wrapper-event-timer-caption {
	    position: absolute;
	    padding: 0px 8px;
	    bottom: 128px;
	    left: 5px;
	    text-align: left;
	    font-size: 12px;
	    font-weight: 700;
	    background: #fff;
	}



}
