/*   variables   */


/*   Fonts   */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700|Lora:400italic);

$primary-font-stack: "Open Sans";
$secondary-font-stack: "Lora";



/*   Colors   */
$color-primary: #5eaad5; 			/*   blue   */
$color-secondary: #ec663e; 			/*   orange   */
$color-tertiary: #5cbd67; 			/*   green   */
$color-dark-primary: #1d202d; 		/*   very dark grey   */
$color-dark-secondary: #444444; 	/*   dark grey   */
$color-light-primary: #e6ecf0; 		/*   light blue for the checkout process   */
$color-light-secondary: #f6f6f6; 	/*   very light grey   */
$color-white: #ffffff;
$color-warning: #D81220;


/*   Font Sizes   */
$font-primary-title: 24px;
$font-secondary-title: 20px;
$font-tertiary-title: 16px;

$font-text: 14px;
$font-small: 12px;


/*   Margins & Paddings   */
$spacing-small: 5px;
$spacing-medium: 15px;
$spacing-large: 30px;
$spacing-xlarge: 50px;


$sprite-url: "../images/sprites.png";


