@charset "UTF-8";
/*scss to be compiled into one file*/
/*   variables   */
/*   Fonts   */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700|Lora:400italic);
/*   Colors   */
/*   blue   */
/*   orange   */
/*   green   */
/*   very dark grey   */
/*   dark grey   */
/*   light blue for the checkout process   */
/*   very light grey   */
/*   Font Sizes   */
/*   Margins & Paddings   */
/*   mixins   */
.transition {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }

/* jQuery Countdown styles 2.0.0. 
.is-countdown {
	border: 1px solid #ccc;
	background-color: #eee;
}*/
.countdown-rtl {
  direction: rtl; }

.countdown-holding span {
  color: #888; }

.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px 1px;
  text-align: center; }

.countdown-show1 .countdown-section {
  width: 98%; }

.countdown-show2 .countdown-section {
  width: 48%; }

.countdown-show3 .countdown-section {
  width: 32.5%; }

.countdown-show4 .countdown-section {
  width: 24.5%; }

.countdown-show5 .countdown-section {
  width: 19.5%; }

.countdown-show6 .countdown-section {
  width: 16.25%; }

.countdown-show7 .countdown-section {
  width: 14%; }

.countdown-section {
  display: block;
  float: left;
  font-size: 75%;
  text-align: center;
  margin-top: 10px; }

#wrapper-event-timer-caption {
  padding: 0px 10px;
  left: 10px;
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  background: #fff; }

#wrapper-event-timer .countdown-row {
  padding: 0; }

#wrapper-event-timer .countdown-amount {
  font-size: 24px;
  color: #444444;
  margin: 3px 8px;
  font-weight: bold; }

#wrapper-event-timer .countdown-period {
  font-family: "Open Sans", arial;
  color: #444444;
  font-size: 12px; }

#wrapper-event-timer .countdown-section {
  margin-top: 3px; }

/* This is the countdown timer itself */
.countdown-amount {
  font-size: 34px;
  color: #1d202d;
  margin: 10px 8px;
  font-weight: 700; }

/* This is the text underneath the countdown timer like days, hours, mins, secs */
.countdown-period {
  display: block;
  text-transform: uppercase;
  margin-top: 0px;
  font-family: "Open Sans", arial;
  color: #444444;
  font-size: 15px;
  padding: 0 10px;
  /*font-weight: 700;*/ }

.countdown-descr {
  display: block;
  width: 100%; }

#wrapper-timer .countdown-amount, #wrapper-timer-past .countdown-amount {
  font-size: 24px;
  color: #444444;
  margin: 3px 8px; }

#wrapper-timer .countdown-period, #wrapper-timer-past .countdown-amount {
  font-family: "Open Sans", arial;
  color: #444444;
  font-size: 12px; }

.wrapper-timer, .wrapper-timer-past{
      clear: both;
      position: absolute;
      background: white;
      margin-top: -80px;
      width: 93%;
      margin-left: 5px;
}

.wrapper-timer-past{
  background: transparent;
}

/*  Mobile*/
@media (max-width: 480px) {
  .countdown-section {
    display: block;
    float: left;
    font-size: 75%;
    text-align: center;
    margin-top: 2px; }

  /* This is the countdown timer itself */
  .countdown-amount {
    font-size: 28px;
    margin: 1px 4px -3px 4px; }

  /* This is the text underneath the countdown timer like days, hours, mins, secs */
  .countdown-period {
    font-size: 12px;
    padding: 0 4px;
    font-weight: normal;
    margin-top: -4px; }

    .wrapper-timer{
      clear: both;
      position: absolute;
      background: white;
      margin-top: -75px;
      width: 93%;
      margin-left: 5px;
    }

  #wrapper-event-timer .countdown-row {
    padding: 0; }

  #wrapper-event-timer .countdown-amount {
    font-size: 24px;
    color: #444444;
    margin: 3px 8px;
    font-weight: bold; }

  #wrapper-event-timer .countdown-period {
    font-family: "Open Sans", arial;
    color: #444444;
    font-size: 12px;
    margin: 0 0 0 3px;
  }

  #wrapper-event-timer .countdown-section {
    margin-top: 0px; }

  #wrapper-event-timer-caption {
    padding: 0px 8px;
    text-align: left;
    font-size: 10px;
    font-weight: 700;
    background: #fff; } 
}

@media (max-width: 350px) {
  .wrapper-timer{
    margin-top: -63px;
  }

  .figure-timer{
    padding: 3px 0 !important;
    line-height: 15px;
  }

  .countdown-section{

  }
  
  #wrapper-event-timer .countdown-amount{
    font-size: 20px;
    margin:0 7px;
  }

  #wrapper-event-timer .countdown-period{
    font-size: 10px;
    margin: 0 0 0 3px;
  }

}


/*    Miscellaneous   */
header {
  position: relative;
  z-index: 5; }

.logo {
  margin-right: 15px; }

.section-xlarge {
  padding: 50px 0; }

.section-large {
  padding: 30px 0; }

.section-medium {
  padding: 15px 0; }

.section-small {
  padding: 5px 0; }

.max-width {
  max-width: 1280px !important; }

.section-border {
  border: 1px solid #e1e1e1;
  padding: 0 30px; }

.border-radius {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px; }

#brands, #search {
  position: absolute;
  background: white;
  z-index: 2;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 6px 12px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 6px 12px 0px rgba(50, 50, 50, 0.3);
  width: 100%; }

.timer dt {
  font-size: 24px;
  color: #444444;
  margin: 3px 8px; }

.timer-support-text, .timer-support-warning {
  font-size: 14px;
  color: #666666;
  font-weight: 700; }

.timer-support-warning {
  color: #D81220; }

.timer-large dt {
  font-size: 34px;
  color: #1d202d;
  margin: 10px 8px;
  font-weight: 700; }

.timer-large dd {
  font-family: "Open Sans", arial;
  color: #444444;
  font-size: 15px;
  padding: 0 10px;
  font-weight: 700; }

.strip-promo {
  position: absolute;
  top: 15px;
  left: -10px;
  background: url("../images/sprites.png") no-repeat;
  background-position: -162px -46px;
  width: 67px;
  height: 34px; }

.flip-horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.opacity-light {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 5-7 */
  filter: alpha(opacity=40);
  /* Netscape */
  -moz-opacity: 0.4;
  /* Safari 1.x */
  -khtml-opacity: 0.4;
  /* Good browsers */
  opacity: 0.4;
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }

.opacity-dark {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.15); }

.hint {
  position: absolute;
  margin-top: 25px;
  right: 10px; }

.uk-form select.error-border {
  border: 1px solid red; }

.uk-tab-fix {
  border-bottom: none;
  padding: 0 0 6px 0; }

.uk-grid-fix {
  margin-left: 0px !important; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #ffffff;
  background-image: none;
  color: black; }

.loading-countdown {
  margin-top: 30px;
  z-index: 1;
  position: absolute; }

@media (min-width: 1281px) {
  .footer-sticky {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0; } }
/*  Mobile*/
@media (max-width: 480px) {
  .logo {
    margin-right: 0;
    width: 100px; }

  .logo-slim {
    margin: 0 auto; }

  .timer dt {
    font-size: 20px;
    margin: 3px 7.5px; }

  .timer-support-text, .timer-support-warning {
    font-size: 12px; }

  .warning{
    font-size: 10px !important;
  }

  .timer-large dt {
    font-size: 28px;
    margin: 1px 4px 3px 4px; }

  .timer-large dd {
    font-size: 12px;
    padding: 0 4px;
    font-weight: normal; }

  .text-product-price-large {
    font-size: 28px;
    margin: 7px 8px;
    font-family: "Open Sans", arial;
    color: #1d202d; } }
@media (min-width: 240px) and (max-width: 370px) {
  .timer dt {
    margin: 3px 4.5px; } }
@media (min-width: 376px) and (max-width: 480px) {
  .timer dt {
    margin: 3px 7.5px; } }
.grid-image-wrapper {
  overflow: hidden;
  position: relative; }

.image-caption {
  position: relative; }

.grid-image {
  width: auto;
  height: 100%;
  max-width: inherit;
  position: relative;
  overflow: hidden; }

.figure-caption {
  position: absolute;
  width: 300px;
  padding: 10px 0px 10px 10px;
  bottom: 20px;
  left: 20px; }

.figure-timer {
  padding: 5px 0;
  left: 10px;
  text-align: center;
  width: 75%; }

/*  Mobile Fixes */
@media (max-width: 480px) {
  .figure-timer {
    bottom: 75px;
    left: 5px;
    width: 95%; }



  .figure-caption {
    width: auto;
    padding: 0;
    bottom: 7px;
    left: 7px; } }
/*   backgrounds   */
.background-dark-primary {
  background: #1d202d; }

.background-light-primary {
  background: #e6ecf0; }

.background-light-secondary {
  background: #f6f6f6; }

.background-white {
  background: #ffffff; }

/*   
	buttons   
	$background-color, $border-color, $text-color, $background-color-hover, $text-color-hover

*/
.button-primary-solid {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #5eaad5;
  color: #ffffff;
  border: 1px solid #5eaad5;
  padding: 6px 20px;
  font-weight: 700; }
  .button-primary-solid:hover {
    background: #5eaad5;
    color: #ffffff;
    opacity: 0.95; }

.button-primary-outline {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: none;
  color: #1d202d;
  border: 1px solid #5eaad5;
  padding: 6px 20px;
  font-weight: 700; }
  .button-primary-outline:hover {
    background: #5eaad5;
    color: #ffffff;
    opacity: 0.95; }

.mobile-button-primary-solid {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #5eaad5;
  color: #ffffff;
  border: 1px solid #5eaad5;
  padding: 6px 20px;
  font-weight: 700;
  margin-top: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0px;
  border-radius: 0;
  z-index: 1;
  border: none; }
  .mobile-button-primary-solid:hover {
    background: #5eaad5;
    color: #ffffff;
    opacity: 0.95; }

.mobile-button-secondary-solid {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #ec663e;
  color: #ffffff;
  border: 1px solid #ec663e;
  padding: 6px 20px;
  font-weight: 700;
  margin-top: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0px;
  border-radius: 0;
  z-index: 1;
  border: none; }
  .mobile-button-secondary-solid:hover {
    background: #ec663e;
    color: #ffffff;
    opacity: 0.95; }

.button-primary-solid-disabled {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #5eaad5;
  color: #ffffff;
  border: 1px solid #5eaad5;
  padding: 6px 20px;
  font-weight: 700;
  background: #a7c8da;
  border: 1px solid #a7c8da;
  cursor: default; }
  .button-primary-solid-disabled:hover {
    background: #5eaad5;
    color: #ffffff;
    opacity: 0.95; }
  .button-primary-solid-disabled:hover {
    background: #a7c8da; }

.button-primary-solid:disabled {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #5eaad5;
  color: #ffffff;
  border: 1px solid #5eaad5;
  padding: 6px 20px;
  font-weight: 700;
  background: #a7c8da;
  border: none;
  cursor: default; }
  .button-primary-solid:disabled:hover {
    background: #5eaad5;
    color: #ffffff;
    opacity: 0.95; }
  .button-primary-solid:disabled:hover {
    background: #a7c8da; }

.mobile-button-primary-solid-disabled {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #5eaad5;
  color: #ffffff;
  border: 1px solid #5eaad5;
  padding: 6px 20px;
  font-weight: 700;
  background: #a7c8da;
  margin-top: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0px;
  border-radius: 0;
  z-index: 1;
  border: none;
  border: none;
  cursor: default; }
  .mobile-button-primary-solid-disabled:hover {
    background: #5eaad5;
    color: #ffffff;
    opacity: 0.95; }
  .mobile-button-primary-solid-disabled:hover {
    background: #a7c8da; }

  .mobile-button-secondary-solid-disabled, .mobile-button-secondary-solid-disabled:hover{
    background: #eda490;
    border: 1px solid #eda490;
    color: #ffffff;
  }

.button-secondary-solid, .pagination-active {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #ec663e;
  color: #ffffff;
  border: 1px solid #ec663e;
  padding: 6px 20px;
  font-weight: 700; }
  .button-secondary-solid:hover, .pagination-active:hover {
    background: #ec663e;
    color: #ffffff;
    opacity: 0.95; }


  .button-secondary-solid-light {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: rgba(250, 250, 250, 0.95);
  color: #ec663e;
  padding: 6px 20px;
  font-weight: 700; }
  .button-secondary-solid-light:hover{
    background: #ec663e;
    color: #ffffff;
    opacity: 0.95; }


.button-secondary-outline, .pagination {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: none;
  color: #1d202d;
  border: 1px solid #ec663e;
  padding: 6px 20px;
  font-weight: 700; }
  .button-secondary-outline:hover, .pagination:hover {
    background: #ec663e;
    color: #ffffff;
    opacity: 0.95; }

.pagination-active, .pagination {
  padding: 8px 10px; }

.button-secondary-solid-disabled {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #ec663e;
  color: #ffffff;
  border: 1px solid #ec663e;
  padding: 6px 20px;
  font-weight: 700;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  background: #eda490;
  border: 1px solid #eda490;
  cursor: auto; }
  .button-secondary-solid-disabled:hover {
    background: #ec663e;
    color: #ffffff;
    opacity: 0.95; }
  .button-secondary-solid-disabled:hover {
    background: #eda490; }

.button-tertiary-solid {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #5cbd67;
  color: #ffffff;
  border: 1px solid #5cbd67;
  padding: 6px 20px;
  font-weight: 700; }
  .button-tertiary-solid:hover {
    background: #5cbd67;
    color: #ffffff;
    opacity: 0.95; }

.button-tertiary-solid-disabled {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #5cbd67;
  color: #ffffff;
  border: 1px solid #5cbd67;
  padding: 6px 20px;
  font-weight: 700;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  background: #bce0c0;
  border: 1px solid #bce0c0;
  cursor: auto; }
  .button-tertiary-solid-disabled:hover {
    background: #5cbd67;
    color: #ffffff;
    opacity: 0.95; }
  .button-tertiary-solid-disabled:hover {
    background: #bce0c0; }

.mobile-button-tertiary-solid {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #5cbd67;
  color: #ffffff;
  border: 1px solid #5cbd67;
  padding: 6px 20px;
  font-weight: 700;
  margin-top: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0px;
  border-radius: 0; }
  .mobile-button-tertiary-solid:hover {
    background: #5cbd67;
    color: #ffffff;
    opacity: 0.95; }

.button-light-solid {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #ffffff;
  color: #1d202d;
  border: 1px solid #ffffff;
  padding: 6px 20px;
  font-weight: 700; }
  .button-light-solid:hover {
    background: #ffffff;
    color: #1d202d;
    opacity: 0.95; }

.button-light-outline {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #ffffff;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px 20px;
  font-weight: 700;
  background: none; }
  .button-light-outline:hover {
    background: #ffffff;
    color: #1d202d;
    opacity: 0.95; }

.button-light-outline:hover {
  background: #ffffff;
  color: #1d202d; }

.button-dark-outline {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: #1d202d;
  color: #1d202d;
  border: 1px solid #999999;
  padding: 6px 20px;
  font-weight: 700;
  background: none; }
  .button-dark-outline:hover {
    background: #1d202d;
    color: #1d202d;
    opacity: 0.95; }

.button-dark-outline:hover {
  background: none;
  color: #1d202d;
  border: 1px solid #1d202d; }

.button-facebook {
  color: #355388; }

.button-twitter {
  color: #00ABF1; }

.button-instagram {
  color: #E54A67; }

.button-pinterest {
  color: #C23439; }

.button-cursor {
  cursor: pointer; }

a.disabled, button.disabled {
  pointer-events: none;
  cursor: default; }

/*   links   */
a.link-light-primary {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 23px 20px 21px 20px;
  font-weight: 700; }
  a.link-light-primary:hover {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    background: #fff;
    color: #1d202d; }

a.link-light-primary-active {
  font-size: 14px;
  text-decoration: none;
  padding: 23px 20px 21px 20px;
  font-weight: 700;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  background: #fff;
  color: #1d202d; }

a.link-light-primary-icon {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 23px 10px 21px 10px;
  font-weight: 700; }
  a.link-light-primary-icon:hover {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    background: #fff;
    color: #1d202d; }

a.link-light-primary-icon-active {
  font-size: 14px;
  text-decoration: none;
  padding: 23px 10px 21px 10px;
  font-weight: 700;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  background: #fff;
  color: #1d202d; }

a.link-light {
  font-size: 14px;
  color: #ffffff;
  padding: 5px 12px 0 0;
  display: inline-block; }
  a.link-light:hover {
    font-weight: normal;
    text-decoration: underline; }

a.link-muted {
  text-decoration: none; }

a.link-dark, a.link-dark-muted {
  color: #1d202d;
  text-decoration: none; }

a.link-dark-muted:hover {
  text-decoration: none; }

a.link-dark-secondary, a.link-dark-muted {
  color: #444444; }

a.link-secondary {
  color: #ec663e; }

a.image:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */
  filter: alpha(opacity=80);
  /* Netscape */
  -moz-opacity: 0.8;
  /* Safari 1.x */
  -khtml-opacity: 0.8;
  /* Good browsers */
  opacity: 0.8; }

.image-selected {
  border: 1px solid #ec663e; }

/*  Mobile Fixes */
@media (max-width: 480px) {
  a.link-light-primary-icon {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    padding: 23px 5px 17px 3px;
    font-weight: 700; }
    a.link-light-primary-icon:hover {
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s;
      background: #fff;
      color: #1d202d; }

  a.link-light-primary-icon-active {
    font-size: 14px;
    text-decoration: none;
    padding: 23px 5px 17px 3px;
    font-weight: 700;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    background: #fff;
    color: #1d202d; } }
/*   text   */
.text-section-title {
  font-family: "Open Sans", arial;
  color: #1d202d;
  font-size: 24px;
  font-weight: 700; }

.text-caption, .text-product-price {
  font-family: "Open Sans", arial;
  color: #1d202d;
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0; }

.text-caption, .text-subcaption {
  margin: 4px 8px; }

.text-column-title, .text-product-name, a.text-product-name {
  font-family: "Open Sans", arial;
  color: #1d202d;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none; }

.text-subcaption {
  font-family: "Open Sans", arial;
  color: #444444;
  font-size: 14px; }

a.text-product-brand {
  font-family: "Open Sans", arial;
  color: #666666;
  font-size: 14px;
  text-decoration: none; }

.text-support, .text-support-strong {
  font-family: "Open Sans", arial;
  color: #444444;
  font-size: 12px; }

.text-support-strong {
  font-weight: 700; }

.text-promo {
  font-family: "Open Sans", arial;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  margin: 5px 0 0 10px; }

.text-testimonial {
  font-family: "Lora", Georgia;
  font-style: italic;
  color: #1d202d;
  font-size: 16px;
  line-height: 22px; }

.text-summary {
  font-family: "Open Sans", Arial;
  color: #ffffff;
  margin: 4px 0; }

.text-light {
  color: #ffffff; }

.text-secondary {
  color: #ec663e; }

.text-strike-through {
  text-decoration: line-through; }

.error, .warning, .wrapper-event-timer-caption .warning {
  color: red;
  margin-top: 3px;
  text-align: left;
  margin-left: 20px;
  font-size: 12px; }

.wrapper-event-timer-caption .warning{
  font-size: 10px;
}

.warning {
  margin: 0; }

.success {
  color: green;
  margin-top: 3px;
  text-align: left;
  margin-left: 20px;
  font-size: 13px; }

.text-product-price-large {
  font-family: "Open Sans", arial;
  color: #1d202d;
  font-size: 34px;
  font-weight: 700;
  margin: 10px 8px; }

.text-product-name-large, a.text-product-name-large {
  font-family: "Open Sans", arial;
  color: #1d202d;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none; }

.text-vertical-align {
  margin-top: 8px; }

@media (max-width: 480px) {
  .text-section-title {
    font-size: 20px; }

  .text-product-price-large {
    font-size: 28px;
    margin: 1px 3px 3px 5px; }

  .text-small-mobile {
    font-size: 13px; }

  .text-caption, .text-product-price {
    font-size: 15px;
    font-weight: 700; } }
#mobile-nav .nav-top-bar {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.mobile-nav {
  padding: 10px 0;
  font-weight: 700; }

.nav-top-bar {
  display: block;
  width: 20px;
  border-bottom: 2px solid #333333;
  margin-bottom: 6px; }

span.nav-top-bar:nth-child(1) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

span.nav-top-bar:nth-child(2) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

span.nav-top-bar:nth-child(3) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#mobile-nav.open span.nav-top-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#mobile-nav.open span.nav-top-bar:nth-child(2) {
  width: 0%;
  opacity: 0; }

#mobile-nav.open span.nav-top-bar:nth-child(3) {
  top: -2px;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/*   forms   */
input[type="text"].uk-form-row, input[type="password"].uk-form-row, input[type="number"].uk-form-row {
  margin-top: 15px;
  height: 45px;
  padding: 0 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px; }
  input[type="text"].uk-form-row:hover, input[type="password"].uk-form-row:hover, input[type="number"].uk-form-row:hover {
    border: 1px solid #444444; }
  input[type="text"].uk-form-row:focus, input[type="password"].uk-form-row:focus, input[type="number"].uk-form-row:focus {
    background: #ffffff;
    border: 1px solid #1d202d; }

.uk-form select {
  margin-top: 15px;
  height: 45px;
  padding: 0 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px; }
  .uk-form select:focus {
    background: #ffffff;
    border: 1px solid #1d202d; }

.uk-form .checkbox, .uk-form button {
  margin-top: 20px; }

label.cursor {
  cursor: pointer; }

.filter-checkbox-image {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: #ffffff; }

.wrapper-search-results a.result {
  display: block;
  padding: 10px 0 10px 10px;
  color: #444444;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px; }
  .wrapper-search-results a.result:hover {
    background: #f5f5f5; }

ul {
  padding-left: 0;
  width: auto; }

li.ui-menu-item {
  display: block;
  padding: 7px;
  color: #444444;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  z-index: 2;
  cursor: pointer; }

li.ui-state-focus {
  background: #f5f5f5;
  width: auto; }

ul.card_logos {
  display: inline-block;
  margin: 0;
  padding: 0; }

.card_visa, .card_mastercard, .card_amex, .card_discover, .card_diners, .card_jcb {
  display: inline-block;
  width: 50px;
  height: 30px;
  overflow: hidden;
  text-align: left;
  text-indent: -999px;
  background: url(../images/sprite-cards.png) 0 0 no-repeat;
  opacity: .2; }

.card_mastercard {
  background-position: -55px 0; }

.card_amex {
  background-position: -110px 0; }

.card_discover {
  background-position: -165px 0; }

.card_diners {
  background-position: -220px 0; }

.card_jcb {
  background-position: -660px 0; }

.is_visa li, .is_mastercard li, .is_amex li, .is_discover li, .is_diners li, .is_jcb li, .is_nothing li {
  opacity: .2; }

.is_visa li.card_visa, .is_mastercard li.card_mastercard, .is_amex li.card_amex, .is_discover li.card_discover, .is_diners li.card_diners, .is_jcb li.card_jcb {
  opacity: 1; }

.slideshow-thumb {
  list-style: none;
  padding: 0px 0 5px 0;
  width: 80%; }

.uk-accordion-title {
  font-family: "Open Sans", Arial;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 15px;
  background: transparent;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  color: #1d202d;
  border-top: 1px solid #cccccc;
  font-weight: 700; }

/* Sub-object: `uk-accordion-content`
 ========================================================================== */
.uk-accordion-title:nth-child(1), .uk-accordion-content:nth-child(1) {
  border-top: none;
  border-bottom: none; }

.uk-accordion-content {
  padding: 0 15px 15px 15px;
  border-bottom: 1px solid #cccccc; }

/*
 * Micro clearfix to make panels more robust
 */
.uk-accordion-content:before,
.uk-accordion-content:after {
  content: "";
  display: table; }

.uk-accordion-content:after {
  clear: both; }

/*
 * Remove margin from the last-child
 */
.uk-accordion-content > :last-child {
  margin-bottom: 0; }

/*! UIkit 2.26.3 | http://www.getuikit.com | (c) 2014 YOOtheme | MIT License */
/* ========================================================================
   Component: Tooltip
 ========================================================================== */
/*
 * 1. Hide by default
 * 2. Set fixed position
 * 3. Set dimensions
 * 4. Set style
 */
.uk-tooltip {
  /* 1 */
  display: none;
  /* 2 */
  position: absolute;
  z-index: 1030;
  /* 3 */
  box-sizing: border-box;
  max-width: 300px;
  padding: 10px;
  /* 4 */
  background: #333333;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  line-height: 18px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }

/* Triangle
 ========================================================================== */
/*
 * 1. Dashed is less antialised than solid
 */
.uk-tooltip:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  /* 1 */
  border: 5px dashed #333333; }

/* Direction modifiers
 ========================================================================== */
/*
 * Top
 */
.uk-tooltip-top:after,
.uk-tooltip-top-left:after,
.uk-tooltip-top-right:after {
  bottom: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #333333; }

/*
 * Bottom
 */
.uk-tooltip-bottom:after,
.uk-tooltip-bottom-left:after,
.uk-tooltip-bottom-right:after {
  top: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #333333; }

/*
 * Top/Bottom center
 */
.uk-tooltip-top:after,
.uk-tooltip-bottom:after {
  left: 50%;
  margin-left: -5px; }

/*
 * Top/Bottom left
 */
.uk-tooltip-top-left:after,
.uk-tooltip-bottom-left:after {
  left: 10px; }

/*
 * Top/Bottom right
 */
.uk-tooltip-top-right:after,
.uk-tooltip-bottom-right:after {
  right: 10px; }

/*
 * Left
 */
.uk-tooltip-left:after {
  right: -5px;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #333333; }

/*
 * Right
 */
.uk-tooltip-right:after {
  left: -5px;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: #333333; }

/*  Mobile Fixes */
@media (max-width: 600px) {
  .logo {
    margin: 0; }

  .uk-icon-small {
    font-size: 120%;
    vertical-align: -10%; }

  .mobile-uk-grid-fix {
    margin-left: 0px !important; }

  .mobile-padding-remove {
    padding: 0px !important; }

  .mobile-margin-remove {
    margin: 0 !important; }

  .mobile-block {
    display: block;
    width: 93%;
    margin: 0 auto; }

  .section-border {
    border: 0px;
    padding: 0px; }

  .mobile-remove-background {
    background: transparent; }

  .mobile-section-large, mobile-section-xlarge {
    padding: 15px 0; }

  .mobile-margin-small-top {
    margin-top: 8px !important; }

  .mobile-margin-small-bottom {
    margin-top: 8px !important; }

  .mobile-margin-small-left {
    margin-left: 8px !important; }

  .mobile-margin-small-right {
    margin-right: 8px !important; }

  .mobile-shop-navigation-separator {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 5px;
    background: #ffffff; } }
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?23445707");
  src: url("../font/fontello.eot?23445707#iefix") format("embedded-opentype"), url("../font/fontello.woff2?23445707") format("woff2"), url("../font/fontello.woff?23445707") format("woff"), url("../font/fontello.ttf?23445707") format("truetype"), url("../font/fontello.svg?23445707#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?365606#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-facebook:before {
  content: '\e800'; }

/* 'εáÇ' */
.icon-twitter:before {
  content: '\e801'; }

/* 'εáü' */
.icon-pinterest:before {
  content: '\e802'; }

/* 'εáé' */
.icon-right:before {
  content: '\e803'; }

/* 'εáâ' */
.icon-location:before {
  content: '\e804'; }

/* 'εáä' */
.icon-menu:before {
  content: '\e805'; }

/* 'εáà' */
.icon-cancel:before {
  content: '\e806'; }

/* 'εáå' */
.icon-search:before {
  content: '\e807'; }

/* 'εáç' */
.icon-print:before {
  content: '\e809'; }

/* 'εáë' */
.icon-instagram:before {
  content: '\e80a'; }

/* 'εáè' */
.icon-credit-card:before {
  content: '\e80c'; }

/* 'εáî' */
.icon-list:before {
  content: '\e80d'; }

/* 'εáì' */
.icon-help:before {
  content: '\e80e'; }

/* 'εáÄ' */
.icon-lock:before {
  content: '\e80f'; }

/* 'εáÅ' */
.icon-play:before {
  content: '\e810'; }

/* 'εáÉ' */
.icon-circle:before {
  content: '\e811'; }

/* 'εáæ' */
.icon-right-open-mini:before {
  content: '\e812'; }

/* 'εáÆ' */
.icon-up-open-mini:before {
  content: '\e813'; }

/* 'εáô' */
.icon-down-open-mini:before {
  content: '\e814'; }

/* 'εáö' */
.icon-user-outline:before {
  content: '\e815'; }

/* 'εáò' */
.icon-left-open-mini:before {
  content: '\e812';
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.icon-heart-outline-light:before {
  content: '\e808'; }

/* '├«┬áΓÇ╣' */
.icon-heart-outline:before {
  content: '\e808';
  color: #D81220; }

/* '├«┬á╦å' */
.icon-heart-solid:before {
  content: '\e80b';
  color: #D81220; }

/* '├«┬áΓÇ╣' */
.icon-badge, .icon-dollar, .icon-lock-small {
  background: url(https://akagu-static.s3.amazonaws.com/assets/images/icons-value-propositions.png) no-repeat; }

.icon-badge {
  background-position: 8px;
  width: 40px;
  height: 38px; }

.icon-dollar {
  background-position: -26px 5px;
  width: 30px;
  height: 35px; }

.icon-lock-small {
  background-position: -53px 6px;
  width: 35px;
  height: 35px; }

.icon-credit-cards, .icon-lock-large, .icon-return-large, .icon-subscribe, .icon-support-large, .icon-price-drop, .icon-trophy, .icon-security-1, .icon-security-2, .icon-delivery-small, .icon-return-small, .icon-support-small, .icon-credit-card-visa, .icon-credit-card-master, .icon-credit-card-amex, .icon-credit-card-discover {
  background: url(https://akagu-static.s3.amazonaws.com/assets/images/sprites.png) no-repeat; }

.icon-credit-cards {
  background-position: -6px -209px;
  width: 144px;
  height: 22px; }

.icon-credit-card-visa {
  background-position: -6px -209px;
  width: 36px;
  height: 22px; }

.icon-credit-card-master {
  background-position: -42px -209px;
  width: 36px;
  height: 22px; }

.icon-credit-card-amex {
  background-position: -78px -209px;
  width: 36px;
  height: 22px; }

.icon-credit-card-discover {
  background-position: -114px -209px;
  width: 36px;
  height: 22px; }

.icon-lock-large {
  background-position: 0 -40px;
  width: 43px;
  height: 43px; }

.icon-return-large {
  background-position: -50px -39px;
  width: 43px;
  height: 43px; }

.icon-subscribe {
  background-position: 0 -92px;
  width: 60px;
  height: 63px; }

.icon-support-large {
  background-position: -99px -39px;
  width: 43px;
  height: 43px; }

.icon-price-drop {
  background-position: -70px -93px;
  width: 60px;
  height: 63px; }

.icon-trophy {
  background-position: -138px -95px;
  width: 60px;
  height: 63px; }

.icon-security-1 {
  background-position: -4px -163px;
  width: 69px;
  height: 37px; }

.icon-security-2 {
  background-position: -79px -163px;
  width: 131px;
  height: 37px; }

.icon-delivery-small {
  background-position: -10px -7px;
  width: 31px;
  height: 23px; }

.icon-return-small {
  background-position: -58px -5px;
  width: 32px;
  height: 25px; }

.icon-support-small {
  background-position: -103px -6px;
  width: 30px;
  height: 25px; }

/*  Mobile Fixes */
@media (max-width: 480px) {
  .uk-icon-small {
    font-size: 20px; } }

/*# sourceMappingURL=child.css.map */
